@import url('https://unpkg.com/css.gg@2.0.0/icons/css/arrow-right-r.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/menu.css');

body {
    background-color: #1e2124;
}

h1, h4, p, span {
    font-family: "Roboto", sans-serif;
    color: rgb(235, 235, 235);
}

.page-navigation {
    padding: 10px;
    display: flex;
    min-width: 150px;
    max-width: 200px;
    background-color: #1c1c1f;
    border: solid;
    flex-direction: column;
    justify-content: space-between;
    border-color: #1c1c1f;
    border-radius: 12px;
    word-wrap: break-word;
    margin-right: 5px;
}

.page-navigation h4 {
    color: rgb(156, 156, 156);
    margin-top: 10px;
    border-bottom: solid;
    border-bottom-color: #555454;
    border-bottom-width: 1px;
    padding-bottom: 5px;
    padding-left: 3px;
    margin-bottom: 14px;
}

.navbar-dms {
    display: flex;
    flex-direction: column;
}

.navbar-dms-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    padding-left: 5px;
    cursor: pointer;
    margin-bottom: 2px;
    overflow: hidden;
}

.navbar-dms-entry:hover {
    border-radius: 10px;
    background-color: rgb(36, 36, 36)
}

.navbar-dms-entry img {
    width: 25px;
    height: 25px;
}

.navbar-dms-entry span {
    color: #c7c7c7;
    margin-left: 10;
}

.navbar-account {
    border-top: solid;
    border-top-color: #555454;
    border-top-width: 1px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar-account span {
    font-size: 17px;
    margin-left: 12px;
    color: rgb(211, 209, 209);
    text-overflow: ellipsis;
    overflow: hidden;
}

.navbar-account img {
    width: 40px;
    height: 40px;
}

.page-container {
    margin-top: 5px;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    height: calc(100% - 60px - 11px);
}

.chat-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-header {
    display: flex;
    height: 60px;
    justify-content: flex-start;
    align-items: center;
    background-color: #1c1c1f;
    border: solid;
    border-color: #1c1c1f;
    border-radius: 12px;
}

.page-header i {
    margin-left: 10px;
    color: white;
    --ggs: 1.1;
}

.page-header h1 {
    margin: 12px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 500;
    font-size: 1.9em;
    color: rgb(194, 193, 193);

    overflow: auto;
}

.chat-messages {
    padding: 10px;
    height: 100%;
    
    background-color: #1c1c1f;
    border: solid;
    border-color: #1c1c1f;
    border-radius: 12px;
    overflow-y: scroll;
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #292828; /* Color of the track */
    border-radius: 17px;
    margin-top: 3px;
    margin-bottom: 3px;
}

::-webkit-scrollbar-thumb {
    background: #535252; /* Color of the scroll thumb */
    border-radius: 5px;
}

.chat-input {
    margin-top: 5px;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1c1c1f;
    border: solid;
    border-color: #1c1c1f;
    border-radius: 12px;
}

.chat-input button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin-left: 20px;
    background-color: #2b292b;
    border: solid;
    border-color: #1c1c1f;
    border-radius: 5px;
    height: 90%;
}

.chat-input i {
    --ggs: 1.7;
    margin-left: 15px;
    margin-right: 4px;
    color: rgb(219, 219, 219);
    transition: transform 0.05s ease;
}

.chat-input i:active {
    transform: scale(1.5);
}

@media (hover: hover) {
    .chat-input i:hover {
        color: rgb(248, 248, 248);
        --ggs: 1.8;
    }
}

.chat-input textarea {
    font-family: "Roboto", sans-serif;

    resize: none;
    border: solid;
    border-color: #333538;
    border-radius: 7px;
    border-width: 1px;
    height: 95%;

    outline: none;
    color: rgb(202, 202, 202);
    background-color: #141414;
    font-size: 17px;
    padding: 8px;
    width: 95%;
}

.chat-message {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.chat-message:first-child {
    margin-top: 0;
}

.chat-message:hover {
    border-radius: 10px;
    background-color: rgb(36, 36, 36)
}

.chat-message-avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.chat-message-body {
    resize: none;
    width: 100%;
    margin-left: 20px;
    overflow: hidden;
}

.chat-message-body span {
    font-weight: 500;
}

.chat-message-content {
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
}

.chat-message-content p {
    color: rgb(207, 206, 206);
    margin-bottom: 5px;
    margin-top: 10px;
}

.chat-message-content p:first-child {
    margin-top: 9px;
}

.chat-message-content p:last-child {
    margin-bottom: 0;
}

.chat-message-content img {
    margin-top: 9px;
    max-width: 70%;
    object-fit: cover;
}

@media only screen and (min-width: 1224px) {
    .chat-message-content img {
        max-width: 800px;
    }
}

.image-fullscreen {
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.image-fullscreen img {
    max-width: 85%;
    object-fit: cover;
}

@media only screen and (min-width: 1824px) {
    .image-fullscreen img {
        max-width: 60%;
    }
}