.general-button {
    background-color: rgb(0, 47, 255);
    color: white;

    margin: 0;
    padding: 7px;
    border: none;
    border-radius: 4px;
    text-wrap: nowrap;

    font-family: "Roboto", sans-serif;
    font-size: 16px;

    transition: all 0.07s ease-in-out;
}

.general-button-styled-hover:hover {
    cursor: pointer;
    transform: scale(1.05);
    filter: brightness(90%);
}

.general-button-styled:disabled {
    cursor: not-allowed;
    filter: brightness(75%);
}